<%- include('partials/header', { title: 'Edit Post' }) %>
<div class="container mt-5">
  <h1>Edit Post</h1>
  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea id="content" name="content"><%= post.content %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Post</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<script>
  const simplemde = new SimpleMDE({ element: document.getElementById('content'),
  previewRender: function(plainText) {
    return marked(plainText);
  }
   });
</script>
<%- include('partials/footer') %>